<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>柱状图</title>
    <!-- 引入 echarts.js -->
    <script src="../static/login/js/echarts.min.js"></script>

</head>
<body>
    <!-- 用于展示图表的容器 -->
    <div id="chart" style="width: 1000px; height: 400px;"></div>

    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var chartDom = document.getElementById('chart');
        var myChart = echarts.init(chartDom);
        var myChart = echarts.init(chartDom, null, { devicePixelRatio: 2 });


        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '模型MSE'
            },
            tooltip: {},
            xAxis: {
                data: ['线性回归', '决策树', '随机森林', 'KNN', 'SVR'],
                axisLabel: {
                    rotate: -30 // 设置x轴标签倾斜角度
                }
            },
            yAxis: {
                min: 100,
                max: 80
            },
            series: [{
                name: '评分',
                type: 'bar',
                data: [98.15, 88.96, 86.09, 82.15, 94.26]
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
</body>
</html>
